@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*footer, footer * { border: 1px solid hotpink; }*/


body {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.02em;
}

p, ul, ol {
	font-size: 15px;
	line-height: 30px;
}

.container { max-width: 1090px; }



/************************************************ REPEATS */
.uppercase { text-transform: uppercase; }
.bold { font-weight: 700; }
.display-grid { display: grid; }
.main-layout { grid-template-columns: repeat(2, 1fr); }
.section-1 { grid-column: 1 / 2; }
.section-2 { grid-column: 2 / 3; }

/************************************************ Navigation */
nav { margin-top: 75px; }
nav ul { font-size: 15.5px; }
.navbar-light .navbar-nav .nav-link { 
	color: black;
	padding-right: 0rem;
	padding-left: 3.5rem;
}
.navbar-expand-lg { justify-content: space-between; }

/************************************************ Game Accent Colors */

#main h2, #main h4, #main .accent { color: #FF7070; }
#scrabble h2, #scrabble h4, #scrabble .accent { color: #C90000; }
#backgammon h2, #backgammon h4, #backgammon .accent { color: #FF9300; }
#snakes h2, #snakes h4, #snakes .accent { color: #659A42; }
#risk h2, #risk h4, #risk .accent { color: #CA2A2C; }

/************************************************ Game Header */
header {
	margin-top: 190px;
	grid-column-gap: 100px;
}
header img { align-self: center; }

.genre { letter-spacing: 0.09em; }
h1 {
	font-size: 74px;
	font-weight: 700;
	letter-spacing: 0.02em;
	margin: -5px 0px -10px 0px;
}
.game-credits {
	font-size: 11px;
	color: #9A9A9A;
	letter-spacing: 0px;
}

.game-details {
	margin-top: 30px;
	gap: 30px 15px;
}
.game-details div {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 20px;
	text-align: center;

	width: 205px;
	height: 73px;
	border: 1px solid;
	box-sizing: border-box;
	border-radius: 14px;
}

/************************************************ Game Content */
main { margin-top: 30px; }
main section { margin-top: 125px; }
main img { border-radius: 15px; }
h2 {
	font-size: 55px;
}
h3 { 
	font-size: 30px;
	margin: 30px 0px 18px 0px;
}
h4 { font-size: 25px; }
h2, h3, h4 { font-weight: 700; }

.gameplay { grid-template-rows: auto; }
.gameplay h2 {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	margin-bottom: 0px;
}
.gameplay .section-1, .gameplay .section-2 { grid-row: 2 / 3; }
.gameplay .section-2 {
	margin-top: 30px;
	text-align: right;
}
.gameplay .section-2 img { margin-bottom: 60px; }

.flex {
	display: flex;
	justify-content: space-between;
}
.flex img {
	margin-top: 20px;
}
.flex div {
	width: 490px;
	margin-top: 10px;
}

/************************************************ Footer */
footer {
	margin-top: 100px;
	padding: 40px 0px 40px 0px;
	color: white;
	background-color: black;
	text-align: center;
	font-style: italic;
}
